.available-lobbies-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.title {
 font-size: 48pt;
 margin-top: 40px;       
}

.available-lobbies {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
}

.lobby {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 85vw;
    height: 10vh;
    overflow-y: scroll;
    background-color: red;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    font-size: 24pt;
}

.lobby:hover {
    opacity: 80%;
    cursor: pointer;
}

