<div class="game-page-wrapper"> 
    <div class="game-page-top-bar">
        <div class="left-score">Player 1: 0
            <!-- <button (click)="playerOnePlus()">+</button><button (click)="playerOneMinus()">-</button> -->
        </div>
        <div class="turn-indicator"> Guess Who but dogs </div>
        <div class="right-score">Player 2: 0 
            <!-- <button (click)="playerTwoPlus()">+</button><button (click)="playerTwoMinus()">-</button> -->
        </div>
    </div>
    <div class="game-page-faces">
        <div *ngFor="let face of faces; let i = index" class="face-container" (click)="determineBlurFace(i)">
            <img class="face" [src]="'../../assets/SRG-images/' + filenames[i]" alt="{{ filenames[i] }}">
            <div>{{i + 1}}</div>
        </div>
    </div>
    <div class="game-page-action-bar">
        <div class="action-button" (click)="resetFaceBlurs()">Reset faces</div>
        <!-- <div class="action-button" (click)="flipTurn()">Flip turn</div> -->
    </div>
</div>